.nameHeader {
  text-transform: capitalize;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 400px;

  & > *:not(:last-child) {
    margin-bottom: 1.5em
  }
}

.formGroup {
  width:100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;

  &.inline {
    flex-direction: row;
    align-items: center;
    
    & > *:not(:last-child) {
      margin-right: .75em
    }

    input[type=radio] {
      margin-left: .4em;
    }
  }

  input[type=text],
  input[type=number] {
    height: 2em;
  }
}


.submit {
  margin-top: 2em;
  padding: 0.5em
}
